<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/style.css">
    <title>Sign In</title>
</head>
<body class="auth-body">
<form class="signin-form">
    <!--это не часть формы-->
    <h1 class="heading">
        Admin Panel
    </h1>

    <div class="user-data">
        <input type="email" class="auth-form-control" placeholder="Email address">
        <input type="password" class="auth-form-control" placeholder="Password">
    </div>

    <!--это в label оборачивается, чтобы по клику на remember me чекбокс выделялся-->
    <div class="checkbox">
        <input type="checkbox">
        Remember me
    </div>

    <div class="auth-button-wrapper">
        <!--type потерял-->
        <button class="button"> Login</button>
    </div>

</form>
</body>
</html>
