<!--на будущее, админка создается ПОЧТИ ВСЕГДА с помощью css фреймворков, ибо потом-->
<!--её надо поддерживать, что труднее, когда у тебя свои стили-->
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <title>Document</title>
</head>
<body class="edit-list-body">

<nav class="navbar">
    <a class="navbar-brand link-decoration" href="#">Admin-panel</a>

    <ul class="navbar-nav">
        <li>
            <a class="nav-link link-decoration" href="#">Главная</a>
        </li>
        <li>
            <a class="nav-link link-decoration" href="list.html">Вопросы</a>
        </li>
        <li>
            <a class="nav-link link-decoration" href="#">Настройки</a>
        </li>
    </ul>
</nav>

<div class="edit-list-container">
    <h1 class="heading-general">
        Добавить вопрос
    </h1>

    <div class="form-group">
        <!--что за lb? плохо использовать необщепринятые сокращения-->
        <label class="lb" for="question">Вопрос</label>
        <!--никаких id, никогда, label в данном случае оборачивает textarea-->
        <!--если очень нужен id то это скорее всего guid и генерится через js-->
        <textarea id="question" class="edit-list-form-control" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label class="lb" for="type">Тип вопроса</label>
        <select class="form-control" id="type">
            <option>Один твет (radio)</option>
            <option>Много вариантов (checkbox)</option>
            <option>Текстовый ответ (text)</option>
        </select>
    </div>

    <div class="form-group">
        <label class="lb" for="answer">Текстовый ответ</label>
        <input type="text" id="answer" class="edit-list-form-control">
    </div>

    <button type="submit" class="btn">Submit</button>
</div>

</body>
</html>
