.card {
	margin: 15px auto 15px;
}

.card-title {
	text-align: center;
}

.form-group,
.form-check-group {
	padding-top: 15px;
}

.button {
	padding-top: 15px;
	text-align: center;
}

.btn {
	text-transform: uppercase;
}
