@import "../variables";

.auth-button-wrapper {
  text-align: center;
}

.question-button-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.button {
  width: 33%;
  padding: 10px 20px;
  color: $color-white;
  background-color: $color-black;
  border: 0px;
  border-radius: 20px;
}

.button-back {
  @include set-default-back-next-button-properties;

  color: $color-black;
  background-color: $color-white;
  border: 1px solid $color-black;

  &:hover {
    background-color: $color-lighting;
  }
}

.button-next {
  @include set-default-back-next-button-properties;

  border-width: 0;
  color: $color-white;
  background-color: $color-black;

  &:hover {
    background-color: $color-blackout;
  }
}

.btn {
  @include set-default-back-next-button-properties;

  border-width: 0;
  color: $color-white;
  background-color: $color-black;
  text-decoration: none;

  &:hover {
    background-color: $color-blackout;
  }
}

.btn-light {
  background-color: $color-btn-light;
}

.btn-danger {
  background-color: $color-btn-danger;
}
