@import "variables";

// это может превратиться в свалку со временем, сча норм
.question-number {
  font-weight: 300;
  margin-top: 0;
}

.question-text {
  margin-top: 0;
}

.dividing-line {
  margin: 15px 15px; // margin: 15px
}

.question-container {
  max-width: 800px;
  padding: 10px 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: $color-white;
}

.question-form-control {
  width: 100%; // уверен, это должно быть вообще у всех контролов, типа .form-control
  box-sizing: border-box;
  padding: 8px 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

// плохое имя класса, видимо это был checkbox, т.к. form-check напоминает проверку валидации полей формы
.form-check {
  width: 100%; // и здесь не пришлось бы так писать, если был бы .form-control
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.7rem 1rem; // зачем использовать сразу px, rem, em в проекте? причем они откуда-то с потолка сча берутся с такими значениями. Лучше уж тогда всё в пикселях или полный гайдлайн описать в body и других главных тегах с заготовленными переменными
  margin-bottom: 1px;
  background-color: $color-body;
}
