$color-body: #f1f1f1;
$color-btn-light: #cccccc;
$color-btn-danger: #dc3545;
$color-navbar: #a6a6a6;
$color-checkbox: #999;
$color-table-black: #000000;
$color-table-darkBlue: #00004d;
$color-font: #555;

$color-white: #fff;
$color-black: #333333;
$color-blackout: #808080;
$color-lighting: #e6e6e6;
